

.pagecolor{
    background-color: rgb(66,139,202);
    color: white;
}

.px-3{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.skeletoncontainer{
    border: 1px solid black;
    width: 100%;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    height:100vh;
}

.container{
    border: 1px solid black;
    
    margin-top: 1rem;
    min-width: fit-content;
  
    margin-bottom: 1rem;
   
   
    

}
.w-10{
    width:12rem;

}
.h-10{
    height: 12rem;
}
.row{
  
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 2rem;
    margin-left: 2rem;
}


@media (max-width: 768px) {
    .row{
        display: grid;
        gap: 2rem;
        margin-top: 2rem;
        margin-left: 2rem;
    }

    }
.repos{
    
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
  
}

@media (max-width:768px){
  .repos{
    display: grid;
    gap: 2rem;
    margin-top: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.dialog-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    

.title{
    text-align: center;
    font-size:18px;
    font-family: sans-serif;
    font-weight:bold;
}  
.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .search-input {
    flex: 1;
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  .search-button {
    padding: 0.5rem 1rem;
    font-size: 16px;
    border: 1px solid #007bff;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  