
  <div
    class="skeletoncontainer"
    *ngIf="(this.reposarray.length == 0 && this.showrepodata)"
  >
    <img
      style="margin-top: 2rem; height: 90%; width: 100%"
      src="assets/loader.gif"
    />
  </div>

  
  <div class="container"  >
    <div  class="search-container">
      <input
        type="text"
        [(ngModel)]="username"
        class="search-input"
        placeholder="Enter GitHub username..."
      />
      <button class="search-button" (click)="changerepobyname()">Search</button>
    </div>
    <div *ngIf="this.reposarray.length>0"  class="row">
      <img
        class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
        [src]="avatar_url"
        alt="Bordered avatar"
      />

      <div
        style="
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-top: 1rem;
        "
      >
        <input
          type="text"
          style="font-size: 26px; font-weight: 600"
          [ngModel]="username"
          [readOnly]="true"
        />
        <h3>
          {{ bio ? bio : "No bio present here" }}
        </h3>
        <div style="display: flex">
          <img
            style="width: 2rem; margin-top: -0.4rem"
            src="assets/pin-icon-vector-location-symbol-260nw-1723824118.webp"
          />
          <h3>{{ location }}</h3>
        </div>
        <h3>
          Twitter: https://twitter.com/{{
            twitter_name ? twitter_name : "unknown"
          }}
        </h3>
      </div>

      <div style="display: flex; flex-direction: column; margin-top: 1rem">
        <label for="pages" style="font-size: 14px; font-weight: 500"
          >Select No.Of Repos Per Page</label
        >

        <select
          [(ngModel)]="itemsPerPage"
          (change)="changeItemsPerPage()"
          
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option [value]="10">10</option>
          <option [value]="20">20</option>
          <option [value]="30">30</option>
          <option [value]="40">40</option>
          <option [value]="50">50</option>
          <option [value]="60">60</option>
          <option [value]="70">70</option>
          <option [value]="80">80</option>
          <option [value]="90">90</option>
          <option [value]="100">100</option>
        </select>
      </div>
    </div>

    <div *ngIf="this.reposarray.length>0" 
      style="
        display: flex;
        align-items: center;
        position: absolute;

        gap: 0.5rem;
        left: 2rem;
      "
    >
      <img src="assets/icons8-link-24.png" />
      <p>
        <a [href]="url">{{ url }}</a>
      </p>
    </div>

    <div *ngIf="this.reposarray.length>0" class="repos">
      <app-repo-component
        style="flex: 0 0 calc(50% - 2rem)"
        *ngFor="let repo of reposarray"
        [name]="repo.name"
        [description]="repo.description"
        [html_url]="repo.html_url"
        [topics]="repo.topics"
        (goToRepoEvent)="onGoToRepo($event)"
      ></app-repo-component>
    </div>

    <div *ngIf="this.reposarray.length>0"
      style="
        margin: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      "
    >
      <nav aria-label="Page navigation example">
        <ul class="flex items-center -space-x-px h-8 text-lg">
          <li>
            <a
              (click)="loadPreviousPage()"
              class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >
              <span class="sr-only">Previous</span>
              <svg
                class="w-2.5 h-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 1 1 5l4 4"
                />
              </svg>
            </a>
          </li>
          <li *ngFor="let i of tot">
            <a
              (click)="loadRepositories(i, this.itemsPerPage, this.username)"
              [ngClass]="{ pagecolor: currentPage === i }"
              class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              >{{ i }}</a
            >
          </li>

          <li>
            <a
              (click)="loadNextPage()"
              class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >
              <span class="sr-only">Next</span>
              <svg
                class="w-2.5 h-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 9 4-4-4-4"
                />
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div *ngIf="this.reposarray.length>0" 
      style="display: flex; justify-content: center; gap: 50%; flex-flow: wrap"
    >
      <button
        type="button"
        [disabled]="currentPage < 1"
        style="
          border: 1px solid black;
          border-radius: 1rem;
          text-align: center;
          padding: 5px 18px;
        "
        (click)="loadPreviousPage()"
      >
        Older
      </button>

      <button
        type="button"
        style="
          border: 1px solid black;
          border-radius: 1rem;
          text-align: center;
          padding: 5px 18px;
          color: rgb(66, 139, 202);
        "
        [disabled]="currentPage == countpage"
        (click)="loadNextPage()"
      >
        Newer
      </button>
    </div>
  </div>

